@import "tailwindcss" important;
@plugin "daisyui";

:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000;
  background-color: #252525;
  background-image: url("../../public/bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body {
  height: 100%;
  min-height: 90dvh;
  width: 100%;
  max-width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
